{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h1>Room index</h1>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ path('room_new') }}" class="btn btn-success shadow h-75">Réserver une autre salle</a>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody class="table-light">
            {% for room in rooms %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td>{{ room.name }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>
                        {{ include('room/_unbook_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
